# install Gcode shell_commad from Kiauh und don't forget include the config

[gcode_shell_command hello_world]
command: echo hello world
timeout: 2.
verbose: True
[gcode_macro HELLO_WORLD]
gcode:
    RUN_SHELL_COMMAND CMD=hello_world

[gcode_shell_command RFID_LOAD_PROFILE_ABS_NEON_YELLOW]
command: /home/pi/printer_data/config/rfid/load_rfid_profile.sh generic_abs_neon_yellow.json
timeout: 5.
verbose: True

[gcode_shell_command RFID_LOAD_PROFILE_ABS_LIGHT_GREY]
command: /home/pi/printer_data/config/rfid/load_rfid_profile.sh generic_abs_light_grey.json
timeout: 5.
verbose: True

[gcode_shell_command RFID_LOAD_PROFILE_ABS_NEON_ORANGE]
command: /home/pi/printer_data/config/rfid/load_rfid_profile.sh generic_abs_neon_orange.json
timeout: 5.
verbose: True

[gcode_shell_command RFID_LOAD_PROFILE_ABS_NEON_GREEN]
command: /home/pi/printer_data/config/rfid/load_rfid_profile.sh generic_abs_neon_green.json
timeout: 5.
verbose: True
