########################################################################################################
# VIVID RFID MACROS !!! RFID Detect, Read und select your Profil in POPup in Mainsail 
########################################################################################################

[gcode_macro RFID_ALIGN_AND_PICK]
description: RFID Detect, Read und select your Profil in POPup in Mainsail 
gcode:
    {% set lane = params.LANE|default(1)|int %}

    {% if lane == 1 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_0 LANE=lane1 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV0
    {% elif lane == 2 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_0 LANE=lane2 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV0
    {% elif lane == 3 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_1 LANE=lane3 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV1
    {% elif lane == 4 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_1 LANE=lane4 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV1
    {% else %}
        RESPOND MSG="RFID: invalid Lane, 1 bis 4"
    {% endif %} 


[gcode_macro RFID_WRITE_PROFILE]
description: Schreibt ausgewähltes RFID Profil auf Reader 0 oder 1
gcode:
    {% set reader = params.READER|default(0)|int %}
    {% set profile = params.PROFILE|string %}

    RESPOND TYPE=command MSG="action:prompt_end"

    {% if profile == "ABS_NEON_YELLOW" %}
        RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_NEON_YELLOW
    {% elif profile == "ABS_NEON_GREEN" %}
        RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_NEON_GREEN
    {% elif profile == "ABS_LIGHT_GREY" %}
        RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_LIGHT_GREY
    {% else %}
        RESPOND MSG="RFID: unbekanntes Profil {profile}"
    {% endif %}

    G4 P1000
    RESPOND MSG="RFID: schreibe Tag auf Reader {reader}"

    {% if reader == 0 %}
        MMS_RFID_WRITE_DEV NAME=mfrc522_0
    {% elif reader == 1 %}
        MMS_RFID_WRITE_DEV NAME=mfrc522_1
    {% else %}
        RESPOND MSG="RFID: ungültiger Reader {reader}"
    {% endif %}  




############################
# READER 0
############################

[gcode_macro  MMS_RFID_DETECT_DEV0]
gcode:
   MMS_RFID_DETECT_DEV NAME=mfrc522_0 SWITCH=1

[gcode_macro MMS_RFID_WRITE_DEV0]
gcode:
   MMS_RFID_WRITE_DEV NAME=mfrc522_0

[gcode_macro MMS_RFID_READ_DEV0]
gcode:
   MMS_RFID_READ_DEV NAME=mfrc522_0 SWITCH=1   

[gcode_macro MMS_RFID_STOP_DEV0]
gcode:
   MMS_RFID_DETECT_DEV NAME=mfrc522_0 SWITCH=0
   MMS_RFID_READ_DEV NAME=mfrc522_0 SWITCH=0


[gcode_macro RFID_WRITE_ABS_NEON_YELLOW_DEV0]
gcode:
   RESPOND MSG="RFID: load generic_abs_neon_yellow.json"
   RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_NEON_YELLOW
   G4 P1000
   RESPOND MSG="RFID: write Tag of Reader 0"
   MMS_RFID_WRITE_DEV NAME=mfrc522_0

[gcode_macro RFID_WRITE_ABS_NEON_ORANGE_DEV0]
gcode:
   RESPOND MSG="RFID: load generic_abs_orange.json"
   RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_NEON_ORANGE
   G4 P1000
   RESPOND MSG="RFID: writee Tag of Reader 0"
   MMS_RFID_WRITE_DEV NAME=mfrc522_0


[gcode_macro RFID_WRITE_ABS_LIGHT_GREY_DEV0]
gcode:
   RESPOND MSG="RFID: load generic_abs_light_grey.json"
   RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_NEON_LIGHT_GREY
   G4 P1000
   RESPOND MSG="RFID: write Tag of Reader 0"
   MMS_RFID_WRITE_DEV NAME=mfrc522_0 

 # ### You need Gcode_macro for your Profils.jason!!!!!   And you can select you Profil in Popup list in Mainsail !!!!!!
# [gcode_macro RFID_WRITE_"You_Porfil_Name"_DEV0]
# gcode:
#    RESPOND TYPE=command MSG="action:prompt_end"
#    #RESPOND MSG="RFID: load "Your_Profil_Name".json"
#    RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_"Your_Profil_Name" 
#    G4 P1000
#    RESPOND MSG="RFID: write Tag of Reader 0"
#    MMS_RFID_WRITE_DEV NAME=mfrc522_0



[gcode_macro RFID_WRITE_ABS_NEON_YELLOW_DEV0]
gcode:
   RESPOND TYPE=command MSG="action:prompt_end"
   #RESPOND MSG="RFID: load generic_abs_neon_yellow.json"
   RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_NEON_YELLOW
   G4 P1000
   RESPOND MSG="RFID: write Tag of Reader 0"
   MMS_RFID_WRITE_DEV NAME=mfrc522_0

[gcode_macro RFID_WRITE_ABS_NEON_GREEN_DEV0]
gcode:
   RESPOND TYPE=command MSG="action:prompt_end"
   #RESPOND MSG="RFID: load generic_abs_neon_green.json"
   RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_NEON_GREEN
   G4 P1000
   RESPOND MSG="RFID: write Tag of Reader 0"
   MMS_RFID_WRITE_DEV NAME=mfrc522_0


[gcode_macro RFID_WRITE_ABS_LIGHT_GREY_DEV0]
gcode:
   RESPOND TYPE=command MSG="action:prompt_end"
   #RESPOND MSG="RFID: load generic_abs_light_grey.json"
   RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_ABS_LIGHT_GREY
   G4 P1000
   RESPOND MSG="RFID: write Tag of Reader 0"
   MMS_RFID_WRITE_DEV NAME=mfrc522_0 



[gcode_macro RFID_ALIGN_AND_PICK]
description: RFID Detect, Read und select your Profil in POPup in Mainsail
gcode:
    {% set lane = params.LANE|default(1)|int %}

    {% if lane == 1 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_0 LANE=lane1 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV0
    {% elif lane == 2 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_0 LANE=lane2 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV0
    {% elif lane == 3 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_1 LANE=lane3 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV1
    {% elif lane == 4 %}
        MMS_RFID_ALIGN_AND_READ NAME=mfrc522_1 LANE=lane4 STEP=20 WAIT=0.5 MAX_SEARCH=600 PROMPT=RFID_PROFILE_PICKER_DEV1
    {% else %}
        RESPOND MSG="RFID: invalid Lane, 1 bis 4"
    {% endif %} 

    
############################
# READER 1
############################

[gcode_macro MMS_RFID_DETECT_DEV1]
gcode:
   MMS_RFID_DETECT_DEV NAME=mfrc522_1 SWITCH=1

[gcode_macro MMS_RFID_WRITE_DEV1]
gcode:
   MMS_RFID_WRITE_DEV NAME=mfrc522_1

[gcode_macro MMS_RFID_READ_DEV1]
gcode:
   MMS_RFID_READ_DEV NAME=mfrc522_1 SWITCH=1

[gcode_macro MMS_RFID_STOP_DEV1]
gcode:
   MMS_RFID_DETECT_DEV NAME=mfrc522_1 SWITCH=0
   MMS_RFID_READ_DEV NAME=mfrc522_1 SWITCH=0

 # ### You need Gcode_macro for your Profils.jason!!!!!   And you can select you Profil in Popup list in Mainsail !!!!!!
# [gcode_macro RFID_WRITE_"You_Porfil_Name"_DEV1]
# gcode:
#    RESPOND TYPE=command MSG="action:prompt_end"
#    #RESPOND MSG="RFID: load "Your_Profil_Name".json"
#    RUN_SHELL_COMMAND CMD=RFID_LOAD_PROFILE_"Your_Profil_Name" 
#    G4 P1000
#    RESPOND MSG="RFID: write Tag of Reader 1"
#    MMS_RFID_WRITE_DEV NAME=mfrc522_1

 














