# [gcode_macro RFID_PROFILE_PICKER_DEV0]
# gcode:
#     RESPOND TYPE=command MSG="action:prompt_begin RFID Profil Reader 0"
#     RESPOND TYPE=command MSG="action:prompt_text Wähle ein Profil für Reader 0"                                                                # prompt_text Select a profile for Reader 0
#     RESPOND TYPE=command MSG="action:prompt_button ABS Neon Yellow|RFID_WRITE_ABS_NEON_YELLOW_DEV0|primary"
#     RESPOND TYPE=command MSG="action:prompt_button ABS Light Grey|RFID_WRITE_ABS_LIGHT_GREY_DEV0|primary"
#     RESPOND TYPE=command MSG="action:prompt_button ABS Neon Green|RFID_WRITE_ABS_NEON_GREEN_DEV0|primary"
#     RESPOND TYPE=command MSG="action:prompt_footer_button Abbrechen|RESPOND TYPE=command MSG=action:prompt_end|warning"                        # Cancel
#     RESPOND TYPE=command MSG="action:prompt_show"

# [gcode_macro RFID_PROFILE_PICKER_DEV1]
# gcode:
#     RESPOND TYPE=command MSG="action:prompt_begin RFID Profil Reader 1"
#     RESPOND TYPE=command MSG="action:prompt_text Wähle ein Profil für Reader 1"                                                                # prompt_text Select a profile for Reader 0
#     RESPOND TYPE=command MSG="action:prompt_button ABS Neon Yellow|RFID_WRITE_ABS_NEON_YELLOW_DEV0|primary"
#     RESPOND TYPE=command MSG="action:prompt_button ABS Light Grey|RFID_WRITE_ABS_LIGHT_GREY_DEV0|primary"
#     RESPOND TYPE=command MSG="action:prompt_button ABS Neon Green|RFID_WRITE_ABS_NEON_GREEN_DEV0|primary"
#     RESPOND TYPE=command MSG="action:prompt_footer_button Abbrechen|RESPOND TYPE=command MSG=action:prompt_end|warning"                        # Cancel
#     RESPOND TYPE=command MSG="action:prompt_show"

[gcode_macro RFID_PROFILE_PICKER]
description: RFID Profil-Auswahl für Reader 0/1
gcode:
   {% set reader = params.READER|default(0)|int %}

   RESPOND TYPE=command MSG="action:prompt_begin RFID Profil Reader {reader}"
   RESPOND TYPE=command MSG="action:prompt_text Wähle ein Profil für Reader {reader}"

   RESPOND TYPE=command MSG="action:prompt_button ABS Neon Yellow|RFID_WRITE_PROFILE READER={reader} PROFILE=ABS_NEON_YELLOW|primary"
   RESPOND TYPE=command MSG="action:prompt_button ABS Light Grey|RFID_WRITE_PROFILE READER={reader} PROFILE=ABS_LIGHT_GREY|primary"
   RESPOND TYPE=command MSG="action:prompt_button ABS Neon Green|RFID_WRITE_PROFILE READER={reader} PROFILE=ABS_NEON_GREEN|primary"

   RESPOND TYPE=command MSG="action:prompt_footer_button Abbrechen|RESPOND TYPE=command MSG=action:prompt_end|warning"
   RESPOND TYPE=command MSG="action:prompt_show"
